:root {
  --bg-color: #f8f9fa;
}

.dark {
  --bg-color: #0F172A;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.grain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.05;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  transition-property: color, border-color, background-color, fill, stroke;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
